@import '../lib/bootstrap/dist/css/bootstrap-theme.css';
@import '../lib/bootstrap/dist/css/bootstrap.css';

/**
 BEM convention
*/

* {
  box-sizing: border-box;
}

/* Breakpoints */
@mobile: ~"only screen and (max-width: 529px)";
@tablet: ~"only screen and (min-width: 530px) and (max-width: 949px)";
@desktop: ~"only screen and (min-width: 950px) and (max-width: 1128px)";

/* Body */
@body-background: #fff;
@body-font-family: 'Gentium Book Basic', serif;

/* Header */
@header-height: 770px;
@header-color: #fff;
@header-tagline-color: #d7d7d7;
@header-tagline-font-family: 'Gentium Book Basic', sans-serif;
@header-author-font-family: 'Open Sans', sans-serif;

/* Article */
@article-max-width: 750px;
@article-paragraph-color: #191919;
@article-blockquote-color: #626262;
@article-share-button-color: #2ecc71;
@article-share-button-font-family: 'Open Sans', sans-serif;
@article-back-to-top-font-family: 'Open Sans', sans-serif;
@article-back-to-top-color: #d9d9d9;

/* Footer */
@footer-color: #fff;
@footer-desc-font-family: 'Open Sans', sans-serif;
@footer-title-font-family: 'Gentium Book Basic', serif;
@footer-tagline-font-family: 'Gentium Book Basic', sans-serif;
@footer-tagline-color: #d7d7d7;

body {
  background: @body-background;
  font-family: @body-font-family;
}


/**
  * HEADER
  */
.header {
  width: 100%;
  min-height: @header-height;
  overflow: hidden;
  position: relative;
  background: transparent url(../images/hero.png) no-repeat 0 0;
  background-size: cover;

  @media @mobile {
    min-height: 400px;
  }

  &__inner {
    position: absolute;
    bottom: 0;
    left: 0;
    color: @header-color;
    width: 100%;
    padding: 0 20px 40px 20px;
  }

  &__hgroup {
    margin: 0 auto;
    max-width: @article-max-width;
    border-bottom: 2px solid @header-color;
    margin-bottom: 20px;

    &__title {
      font-size: 56px;
      margin-bottom: 0;
      @media @mobile {
        font-size: 42px;
      }
    }

    &__tagline {
      font-size: 32px;
      color: @header-tagline-color;
      font-family: @header-tagline-font-family;
      font-style: italic;

      @media @mobile {
        font-size: 26px;
      }
    }
  }

  &__footer {
    margin: 0 auto;
    max-width: @article-max-width;

    &__author {
      font-family: @header-author-font-family;
      font-size: 16px;
      display: inline-block;

      &__written {
        text-transform: uppercase;
        color: @header-tagline-color;
        font-size: 14px;
      }

      &__summary {
        &__name {

        }

        &__avatar {
          max-width: 28px;
          object-fit: contain;
          margin-left: 10px;
        }
      }
    }

    &__share {
      float: right;
      display: inline-block;
      text-align: right;

      @media @mobile {
        padding-top: 20px;
        text-align: center;
      }

      &__button {
        width: 20px;
        height: 20px;
        background-size: contain;
        margin-left: 20px;
        display: inline-block;
        text-decoration: none;

        &:hover,
        &:active {
          text-decoration: none;
        }

        &--star {
          background: transparent url(../images/star.png) no-repeat center center;
        }

        &--heart {
          background: transparent url(../images/heart.png) no-repeat center center;
        }

        &--share {
          background: transparent url(../images/share.png) no-repeat center center;
        }
      }
    }
  }

}

/**
  * CONTENT
  */
.content {
  &__article {
    max-width: @article-max-width;
    margin: 0 auto;
    padding: 55px 20px;

    p {
      font-size: 24px;
      line-height: 2;
      padding-bottom: 30px;
      color: @article-paragraph-color;

      @media @mobile {
        font-size: 18px;
      }
    }

    blockquote {
      display: block;
      font-size: 32px;
      padding: 30px 10px;
      border: none;
      color: @article-blockquote-color;
      text-align: center;

      @media @mobile {
        font-size: 22px;
      }
    }
  }

  &__share {
    background: #5a6867 url(../images/site-footer-gradient.png) no-repeat 0 0;
    background-size: cover;
    padding: 100px 20px;
    text-align: center;

    @media @mobile {
      padding: 50px 20px;
    }

    &__button {
      display: inline-block;
      font-size: 14px;
      font-family: @article-share-button-font-family;
      padding: 18px 20px;
      border-radius: 30px;
      border: 2px solid @article-share-button-color;
      color: @article-share-button-color;
      text-transform: uppercase;
      text-decoration: none;

      &:hover,
      &:active {
        border-color: lighten(@article-share-button-color, 10%);
        color: lighten(@article-share-button-color, 10%);
        text-decoration: none;
      }

      &__icon {
        display: inline-block;
        width: 13px;
        height: 12px;
        margin-right: 4px;
        background: transparent url(../images/share-green.png) no-repeat 0 0;
        background-size: contain;
      }
    }
  }

  &__back-to-top {
    display: block;
    padding: 20px 20px 40px 20px;
    text-align: center;

    &__link {
      color: @article-back-to-top-color;
      text-transform: uppercase;
      position: relative;
      font-size: 14px;
      font-family: @article-back-to-top-font-family;

      &:hover,
      &:active {
        color: darken(@article-back-to-top-color, 10%);
        text-decoration: none;
      }

      &:before {
        content: "^";
        display: block;
        left: 50%;
        top: -10px;
        margin: 0;
      }
    }
  }
}


/**
  * FOOTER
  */
.footer {
  background: #505253;
  color: @footer-color;

  &__column {
    min-height: 360px;
    padding: 60px;

    @media @mobile {
      min-height: 280px;
    }

    &--one {
      background: transparent url(../images/footer-left-thumbnail.png) no-repeat 0 0;
      background-size: cover;
      border-right: 2px solid #6F6F6F;

      @media @mobile {
        border-right: none;
        border-bottom: 2px solid #6F6F6F;
      }
    }

    &--two {
      background: transparent url(../images/footer-right-thumbnail.png) no-repeat 0 0;
      background-size: cover;
    }

    &__next {
      &__desc {
        font-size: 16px;
        text-transform: uppercase;
        margin: 0 0 25px 0;
        font-family: @footer-desc-font-family;
      }

      &__title {
        font-size: 32px;
        font-family: @footer-title-font-family;
        margin: 0 0 10px 0;
      }

      &__tagline {
        font-size: 28px;
        font-family: @footer-tagline-font-family;
        color: @footer-tagline-color;
        font-style: italic;
      }
    }
  }
}
